{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4 mt-4" style="width: 360px;">
        <h3 class="text-center text-success mb-3">ĐĂNG NHẬP</h3>

        {% include 'layout/flash_messages.html' %}

        <form method="post" action="/login">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" />
                <label for="username">Tên đăng nhập</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" />
                <label for="password">Mật khẩu</label>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
