{% extends 'quanly/base_quanly.html' %}

{% block quanly_content %}
<h2>{{ quydinh and "Chỉnh sửa" or "Tạo" }} Quy Định</h2>
{% include 'layout/flash_messages.html' %}
<form method="post">
    <div class="mb-3">
        <div class="mb-3">
            <label class="form-label">Tên quy định</label>
            {% if quydinh %}
            <input type="text" class="form-control" value="{{ quydinh.ten_quy_dinh.label }}" readonly>
            <input type="hidden" name="ten_quy_dinh" value="{{ quydinh.ten_quy_dinh.name }}">
            {% else %}
            <select name="ten_quy_dinh" class="form-control" required>
                {% for item in QuyDinhEnum %}
                <option value="{{ item.name }}">{{ item.label }}</option>
                {% endfor %}
            </select>
            {% endif %}
        </div>


    </div>
    <div class="mb-3">
        <label class="form-label">Nội dung</label>
        <input type="text" class="form-control" name="noi_dung" required
               value="{{ quydinh.noi_dung if quydinh else '' }}">
    </div>
    <button type="submit" class="btn btn-success">{{ quydinh and "Cập nhật" or "Tạo" }}</button>
    <a href="{{ url_for('quanly_quydinh') }}" class="btn btn-secondary">Hủy</a>
</form>
{% endblock %}
