{% extends 'layout/base.html' %}

{% block content %}
<section class="container mt-4">
    <h1 class="text-success">Chi tiết thanh toán phiếu sửa chữa số {{ psc.id }}</h1>
    <a href="{{ url_for('thungan_dashboard') }}" class="btn btn-secondary mb-3">
        Quay lại danh sách
    </a>

    {% include 'layout/flash_messages.html' %}

    <div class="row mt-4">
        <div class="col-md-8">


            <div class="card">
                <div class="card-header bg-primary text-white">
                    <strong>Thông tin phiếu</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Khách hàng:</strong> {{ psc.phieu_tiep_nhan.xe.khachhang.name }}
                    </li>
                    <li class="list-group-item"><strong>Số điện thoại:</strong> {{ psc.phieu_tiep_nhan.xe.khachhang.sdt
                        }}
                    </li>
                    <li class="list-group-item"><strong>Biển số:</strong> {{ psc.phieu_tiep_nhan.xe.bien_so }}</li>
                    <li class="list-group-item"><strong>Loại xe:</strong> {{ psc.phieu_tiep_nhan.xe.loai_xe.value }}
                    </li>
                    <li class="list-group-item"><strong>Nhân viên sửa:</strong> {{ psc.nhan_vien_sua_chua.name }}</li>
                    <li class="list-group-item"><strong>Ngày sửa:</strong> {{ psc.ngay_sua_chua.strftime('%d/%m/%Y') }}
                    </li>
                </ul>
            </div>


            <div class="card mt-4">
                <div class="card-header bg-primary text-white">
                    <strong>Chi tiết tiền linh kiện</strong>
                </div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Tên linh kiện</th>
                        <th>Số lượng</th>
                        <th>Đơn giá linh kiện</th>
                        <th>Tiền công</th>
                        <th>Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ct in psc.chi_tiet_sua_chuas %}
                    <tr>
                        <td>{{ ct.linh_kien.ten_linh_kien }}</td>
                        <td>{{ ct.so_luong }}</td>
                        <td>{{ "{:,.0f}".format(ct.don_gia * ct.so_luong) }}</td>
                        <td>{{ "{:,.0f}".format(ct.linh_kien.tien_cong * ct.so_luong) }}</td>
                        <td>{{ "{:,.0f}".format((ct.don_gia + ct.linh_kien.tien_cong) * ct.so_luong) }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-header bg-success text-white text-center">
                    <h4>Hóa đơn thanh toán</h4>
                </div>
                <div class="card-body">
                    <hr>
                    <h4 class="text-dark">Tổng tiền (đã có VAT):
                        <span class="float-end fw-bold">{{ "{:,.0f}".format(tong_that) }} đ</span>
                    </h4>

                    <div class="text-center mt-4">
                        {% if not psc.phieu_thanh_toan or not psc.phieu_thanh_toan.da_thanh_toan %}
                        <form action="{{ url_for('thungan_xacnhan_thanh_toan', psc_id=psc.id) }}" method="POST">
                            <button type="submit" class="btn btn-success btn-lg px-5"
                                    onclick="return confirm('Bạn có chắc chắn muốn xác nhận thanh toán không?')">
                                <i class="bi bi-cash-coin"></i> Xác nhận thanh toán
                            </button>
                        </form>

                        {% else %}
                        <button class="btn btn-secondary btn-lg px-5" disabled>
                            <i class="bi bi-check-circle-fill"></i> Đã thanh toán thành công
                        </button>

                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-danger px-3 shadow-lg" data-bs-toggle="modal"
                                    data-bs-target="#hoaDonModal"
                                    style="font-size: 20px; font-weight: bold; padding: 5px 13px;">
                                Xác nhận xuất hóa đơn
                            </button>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% if psc.phieu_thanh_toan and psc.phieu_thanh_toan.da_thanh_toan %}
<div class="modal fade" id="hoaDonModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white text-center">
                <h4 class="modal-title w-100 fw-bold">HÓA ĐƠN #{{ "%05d"|format(psc.phieu_thanh_toan.id) }}</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-4">
                    <div class="col-6">Khách hàng:</div>
                    <div class="col-6">{{ psc.phieu_tiep_nhan.xe.khachhang.name }}</div>
                    <div class="col-6">Số điện thoại:</div>
                    <div class="col-6">{{ psc.phieu_tiep_nhan.xe.khachhang.sdt }}</div>
                    <div class="col-6">Biển số:</div>
                    <div class="col-6">{{ psc.phieu_tiep_nhan.xe.bien_so }}</div>
                    <div class="col-6">Thu ngân:</div>
                    <div class="col-6">{{ psc.phieu_thanh_toan.thu_ngan.name }}</div>
                    <div class="col-6">Ngày thanh toán:</div>
                    <div class="col-6">{{ psc.phieu_thanh_toan.ngay_thanh_toan.strftime('%d/%m/%Y') }}</div>
                </div>
                <hr class="border-2">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Hạng mục</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Đơn giá</th>
                        <th class="text-center">Tiền công</th>
                        <th class="text-center">Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ct in psc.chi_tiet_sua_chuas %}
                    <tr>
                        <td class="text-center">{{ loop.index }}</td>
                        <td class="text-center">{{ ct.linh_kien.ten_linh_kien }}</td>
                        <td class="text-center">{{ ct.so_luong }}</td>
                        <td class="text-center">{{ "{:,.0f}".format(ct.don_gia * ct.so_luong) }} đ</td>
                        <td class="text-center">{{ "{:,.0f}".format(ct.linh_kien.tien_cong * ct.so_luong) }} đ</td>
                        <td class="text-center">{{ "{:,.0f}".format((ct.don_gia + ct.linh_kien.tien_cong) *
                            ct.so_luong) }} đ
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    {% set vat_he_so = vat_rate / 100 %}

                    {% set tong_truoc_vat = tong_that / (1 + vat_he_so) %}

                    {% set vat_tien = tong_that - tong_truoc_vat %}

                    <tr class="table-light text-black">
                        <td colspan="5" class="text-center fw-bold fs-6">Tổng tiền:</td>
                        <td class="text-center">{{ "{:,.0f}".format(tong_truoc_vat) }} đ</td>
                    </tr>

                    <tr class="table-light text-black">
                        <td colspan="5" class="text-center fw-bold fs-6">
                            Thuế VAT {{ vat_rate }}%:
                        </td>
                        <td class="text-center">{{ "{:,.0f}".format(vat_tien) }} đ</td>
                    </tr>

                    <tr class="table-primary text-black">
                        <td colspan="5" class="text-center fw-bold fs-5">Tổng cộng (đã gồm VAT):</td>
                        <td class="text-center fw-bold fs-3">{{ "{:,.0f}".format(tong_that) }} đ</td>
                    </tr>
                    </tfoot>


                </table>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button onclick="window.print()" class="btn btn-success btn-lg">In hóa đơn</button>
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}